extends ../layouts/adminMenu
block content

    h1 List Trainer with Course
    table.table 
        tr 
            th Course
            th Trainer Name
            th Action
        each view in viewTrainers
            tr
                td
                    a(href='/admin/listTrainee/' + view.courseName + ' | ' + view.trainer)= view.courseName
                td= view.trainer
                td 
                    a.btn(href='/admin/deleteTrainer/'+ view.id) Delete 

    a.btn(href = '/admin/addTrainerToCourse') Add new Trainer to Course